{% extends 'base.html' %}
{% load show_authors %}

{% block title %}Books{% endblock %}

{% block content%}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Author</th>
				<th>Price($)</th>
			</tr>
		</thead>
		<tbody>
			{% for book in books %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ book.title }}</td>
				<td>{% show_authors book %}</td>
				<td>{{ book.price }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="pagination">
		<ul>
			{% if books.has_previous %}
				<li><a href="?page={{ books.previous_page_number }}">Prev</a></li>
			{% endif %}

			<li class="disabled"><a href="#">{{ books.number }} out of
			{{ books.paginator.num_pages }}</a></li>

			{% if books.has_next %}
				<li><a href="?page={{ books.next_page_number }}">Next</a></li>
			{% endif %}
		</ul>
	</div>
{% endblock %}
